.error_container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    margin-bottom: 4rem;
}
.error-text {
    color: #d56d3ded;
    font-size: 1.7rem
}
@media screen and (max-width: 767px) {
    .error-text {
        font-size: 1rem;
    }
}
