.player-row_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 8px 0 0 8px;
    margin-bottom: 12px;
}
.gradient {
    background-image: linear-gradient(to right, #FE7061,#FADA5E,#D56E3D);
    padding: 4px;
}
.border {
    border: solid 2px rgba(147, 110, 89, 0.24);
}
.player_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.player_container a {
    width: 100%;
    text-decoration: none;
}
.row {
    background-color: var(--secondary-background);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px 0 0 8px;
    padding: 6px;
}
.player-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.player-row-width {
    width: 242px;
    min-width: 242px;
}
.score {
    padding-right: 1rem;
}
.player_star-icon {
    width: 19px;
    height: 20px;
    padding-right: 8px;
}
.player_name {
    font-family: var(--font-tertiary);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--header-primary);
    border-radius: 5px;
    padding: 0rem 2rem;
}
.player_number {
    background-color: var(--tertiary-background);
    font-family: var(--font-primary-header);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: var(--header-secondary);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 64px;
    height: 48px;
}
.player_score {
    font-family: var(--font-tertiary);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
}
.player_rank {
    font-family: var(--font-tertiary);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--header-secondary);
    padding: 0 3rem 0 1rem;
}

/* media queries */
@media screen and (max-width: 767px) {
    .gradient {
        padding: 2px;
    }
    .player_number {
        padding:0;
        width: 48px;
        min-width: 48px;
        height: 34px;
        font-size: 23px;
    }
    .player_name {
        font-size: 14px;
        padding: 0 5px;
    }
    .player_score {
        font-size: 12px;
    }
    .player_rank {
        font-size: 12px;
        padding: 0;
    }
    .player_star-icon {
        width: 14px;
        height: 15px;
        padding-right: 3px;
    }
    .score {
        padding-right: 0;
    }
    .player-row-width {
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        min-width: 40%;
    }
}