/* font imports */
/* change one weight 400 */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
/* Casesar Dressing weight 400 */
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Changa+One&display=swap');
/* Poppins weight 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Changa+One&family=Poppins:wght@500;600;700&display=swap');


/* colour pallette */
:root {
  --background: #39241A;
  --secondary-background: #271A11;
  --tertiary-background: #37261A;
  --header-primary: #ffffff;
  --header-secondary: #FAE6C7;
  --secondary-color: #FFB00F;
  --secondary-color-alt: #ffaf0fbd;
  --loader-color: #D56E3D;
  --secondary-border:  rgba(147, 110, 89, 0.24);
  --font-primary-header: 'Changa One';
  --font-secondary-header: 'Caesar Dressing';
  --font-tertiary: font-family: 'Poppins', sans-serif;
}

.page-background {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding-bottom: 300px;
}